<div class="dual-commentdiv">
    <div class="desc-commentdiv">
      <a class="href" href="/comments/{{this.id}}">{{this.description}}</a>
    </div>
    <p class="comment-div">— {{this.user.name}} [ {{format_date date_created}} ]</p>
    {{!-- {{#if showEditForm}}
    <h2>please enter your new comment.</h2>
    <form>
        <label for="com-desc-input">new description:</label>
        <textarea id="com-desc-input"></textarea>
        <button type="submit" data-id="{{this.id}}" class="btn btn-com-save">save</button>
    </form>
    {{else}}
    <button class="btn btn-com-edit" value="edit" id="{{this.id}}">edit</button> --}}
    <div class="btn-commentdiv">
        <button class="btn btn-danger" data-id="{{this.id}}">delete</button>
    </div>
    {{!-- {{/if}} --}}
</div>