<div class="dual-commentdiv">
    <div class="desc-commentdiv">
        <h4><a class="href" href="/comments/{{this.id}}">{{this.description}}</a></h4>
    </div>
    <p class="posts-div">— {{this.user.name}} [ {{format_date date_created}} ]</p>
    <div class="btn-commentdiv">
        <button class="btn btn-danger" data-id="{{this.id}}">DELETE</button>
    </div>
</div>