<div class="my-2">
    <div class="italic box">
      <a class="wrap" href="/comments/{{this.id}}">{{this.description}}</a>
    </div>
    <p class="my-2">— {{this.user.name}} [ {{format_date date_created}} ]</p>
    <div class="btn-commentdiv">
        <button class="btn btn-danger" data-id="{{this.id}}">delete</button>
    </div>
</div>