<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="box posts wrap">
  <div>
    <h2 class="text-orange-500 text-3xl py-5">
      <a class="href post-border-frame border-frame" href="/posts/{{post.id}}">{{post.name}}</a>
    </h2>
    <p class="my-2 text-blue-900">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="postsdesc italic">
    <p>
      {{post.description}}
    </p>
  </div>
</div>

{{/each}}