<div id="{{{post.id}}}" class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>Leave a comment below.
    {{> comment}}
  </p>
</div>