<div id="{{{comment.id}}}" class="text-center">
  <p>{{description}}</p>
  <a href="/comments/{{id}}/edit" value="edit">edit</a>
  <p>Created by {{this.user.name}} — {{format_date date_created}}</p>
  <div class="col-md-4">
    <button class="btn btn-danger" data-id="{{this.id}}" value="delete">delete</button>
  </div>
  
  <script src="/js/delete-ind-comment.js"></script>